<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
<RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
</RunConfiguration>
    <TestRunParameters>
    <Parameter name="webAppUrl" value="http://localhost" />
    <Parameter name="docsUrl" value="https://learn.microsoft.com" />
</TestRunParameters>
</RunSettings>
